attrs==21.2.0
coverage==5.5
iniconfig==1.1.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytest==6.2.4
pytest-cov==2.12.0
pytest-mock==3.6.1
pytest-qt==3.3.0
PyYAML==5.4.1
toml==0.10.2
