.. _sys_{{ system.key }}_{{ type.key }}:

{{ type.name }}
{{ header_characters[header_level] * type.name | length }}

:bdg-info:`{{ system.name }}`

{{ type.desc }}

{{ type.doc }}

{# if tags, enumerate type tags in subsection #}
