.. _sys_{{ system.key }}:

{{ system.name }}
{{ header_characters[header_level] * len(system.name) }}

:bdg-info:`key: {{ system.key }}`

{%- if system.extends %}

Based on :ref:`sys_{{ system.extends }}`.
{%- endif %}

{{ system.desc }}

{{ system.doc }}

{%- if system.links %}
Related Links
{{ header_characters[header_level + 1] * 13 }}

{% for link in system.links -%}
.. button-link:: {{ link.url }}
    :color: primary
    :shadow:

    {{ link.label }}

{% endfor %}
{% endif %}

{# if metatags, enumerate available metatags in subsection #}

{# if tags, enumerate system tags in subsection #}

{# summarize character types #}
