.. _sys_{{ system.key }}:

{{ system.name }}
{{ "=" * len(system.name) }}

:bdg-info:`{{ system.key }}`

{% if system.extends -%}
    Based on :ref:`sys_{{ system.extends }}`.
{% endif %}

{{ system.desc }}

{{ system.doc }}

{% if system.links %}
Related Links
-------------

{% for link in system.links %}
.. button-link:: {{ link.url }}

    {{ link.label }}

{% endfor %}
{% endif %}

## if metatags, enumerate available metatags in subsection

## if tags, enumerate system tags in subsection

## summarize character types
