{{ system.name }}
{{ "=" * len(system.name) }}

{{ system.key }}

## if extends, based on extends.name

{{ system.desc }}

{{ system.doc }}

## if system.links, enumerate system.links in a small subsection

## if metatags, enumerate available metatags in subsection

## if tags, enumerate system tags in subsection

## summarize character types
