{%- block name -%}
    <h{{ header_level -}}>
    {{- character.realname }}{% if has("dead") -%}
        {{ " (Deceased)" }}
    {%- endif -%}
    </h{{ header_level }}>
{%- endblock -%}

{%- block aka -%}
    {# titles and other names the character has #}
    {%- if has("name") -%}
        {{"\n\n"}}<div><em>AKA {{ character.name.all() | join(", ") }}</em></div>
    {%- endif -%}
    {%- if has("title") -%}
        {{"\n\n"}}<div>{{ character.title.all() | join(", ") }}</div>
    {%- endif -%}
{%- endblock -%}

{{- "\n" -}}

{%- block vitals -%}
{# vital info: race, age, location, pronouns, etc. #}
<div>
{%- if has("race") -%}
    {{ character.race.first() | title }}
{%- else -%}
    {{ character.type | title }}
{%- endif -%}
{%- if has("foreign") -%}
    (foreign)
{%- endif -%}
{%- if has("wanderer") -%}
    , Wanderer
{%- endif -%}
{%- if has("org") -%}
    , {{ character.org.first() }} ({{ character.org.first().role.all() | join(", ") }})
{%- endif -%}
{%- if has("pronouns") -%}
    ; {{ character.pronouns.all() | join(", ") }}
{%- endif -%}
</div>
{%- endblock -%}

{%- block groups -%}
    {# group and org membership #}
    {%- if has("org") and character.org.rest() -%}
        <div>
        {%- for org in character.org.rest() -%}
            {{ org }} ({{ org.role.all() | join(", ") }})
        {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block portrait -%}
    {# portrait image. Only used if portrait tag is set. #}
    {%- if has("portrait") -%}
        <img src="/{{ character.portrait.first() }}" class="align-right decor-shadow" width="150px" loading="lazy">
    {%- endif -%}
{%- endblock -%}

{%- block location -%}
    {# details of the character's location #}
    {# TODO add wanderer and foreign supplemental data, if present  #}
    {%- if has("location") -%}
        <div>
        {{ character.location.first() }}
        {%- if has("region") -%}
            - {{ character.region.first() }}
        {%- endif -%}
        {%- if has("locale") -%}
            - {{ character.locale.first() }}
        {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block system -%}
    {# extra info specific to a game system. Like FATE aspects and such. Blank by default. #}
{%- endblock -%}

{%- block appearance -%}
    {# character appearance #}
    {%- if has("appearance") -%}
        <p><i>Appearance:</i> {{ character.appearance.all() | join(' ') | mdi }}</p>
    {%- endif -%}
{%- endblock -%}

{%- block description -%}
    {# character description #}
    {{ character.description | md }}
{%- endblock -%}

{%- block dead -%}
    {# details about the character's death #}
    {%- if has("dead") and character.dead.first().value -%}
        <p><i>Dead:</i> {{ character.dead.all() | join(' ') | mdi }}</p>
    {%- endif -%}
{%- endblock -%}
